# Entorno virtual Python
venv/
.venv/

# Dependencias
node_modules/
__pycache__/
*.pyc

# Archivos de entorno con contraseñas
.env

# Archivos de configuración local
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs y bases locales
*.log
*.sqlite3